@import "src/style/variables";

main{
    table{
        margin-top: 20px;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        overflow-x: auto;

        tr{
            background: $background;

            &:hover td {
                background: $background-hover;
            }
        }

        th {
            font-size: 18px;
            font-weight: normal;
            background: $background-primary;
            border-top: 4px solid $border-color;
            color: white;
            padding: 15px;
        }

        td {
            color: $font-color;
            padding: 15px;
        }
    }
}