*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-width: 700px !important;
}

main{
    width: 80%;
    margin: 30px auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}