@import 'src/style/variables.scss';


nav{
    width: 100%;
    background: $background-primary;
    color: white;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;

    @media screen and (max-width: 1000px){
        flex-direction: column;
    }

    .dataInfo{
        display: flex;
        align-items: center;

        @media screen and (max-width: 1000px){
            flex-direction: column;
            margin-top: 25px;
        }

        >*{
            margin: 0 10px;
        }
    }
}